
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card-header bg-secondary text-white">
                <h4>GITHUB SEARCH</h4>
            </div>
            <div class="card-body">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Find user" >
                    </div>
                    <div>
                        <input type="submit" value="submit" class="btn btn-secondary btn-small">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>